@layout AppLayout
@inject IJSRuntime IJSRuntime
@inject ILocalStorageService localStorage
@inject IStringLocalizer<App> Localizer
@page "/formcapture/settings"

<h3><span class="oi oi-cog mr-1"></span> @Localizer["SettingsPageTitle"]</h3>

<hr />

<div class="settingPanel">
    <h4>
        <span class="oi oi-globe mr-2"></span> @Localizer["SettingsPageDefaultLocaleSettingTitle"]
    </h4>
    <select @bind="defaultLocale" class="form-control" title="Set default locale">
        <option value="eng">en-US</option>
        <option value="ces">cz-CS</option>
    </select>
    <button type="button" class="btn btn-outline-success mt-3" @onclick="SaveLocale" id="saveLocaleButton" title="@Localizer["SettingsPageSaveSettingButtonText"]">
        <span class="oi oi-pencil mr-2"></span> @Localizer["SettingsPageSaveSettingButtonText"]
    </button>
</div>

<div class="settingPanel mt-4" id="themePanel">
    <h4>
        <span class="oi oi-contrast mr-2"></span> @Localizer["SettingsPageAppThemeSettingTitle"]
    </h4>
    <div class="pl-4 pt-1">
        <div class="radioContainer">
            <input type="radio" name="theme-radio" id="light-radio" class="form-check-input" @onclick="@(e => SetAppTheme(AppTheme.Light))" checked="@isLightThemeRadioChecked" />
            <label for="light-radio" class="form-check-label">@Localizer["SettingsPageAppThemeSettingLightThemeLabel"]</label>
        </div>

        <hr />

        <div class="radioContainer">
            <input type="radio" name="theme-radio" id="dark-radio" class="form-check-input" @onclick="@(e => SetAppTheme(AppTheme.Dark))" checked="@isDarkThemeRadioChecked" />
            <label for="dark-radio" class="form-check-label">@Localizer["SettingsPageAppThemeSettingDarkThemeLabel"]</label>
        </div>

        <hr />

        <div class="radioContainer">
            <input type="radio" name="theme-radio" id="highcontrast-light-radio" class="form-check-input" @onclick="@(e => SetAppTheme(AppTheme.HighContrastLight))" checked="@isHighContrastLightRadioChecked" />
            <label for="highcontrast-light-radio" class="form-check-label">@Localizer["SettingsPageAppThemeSettingHighContrastLightThemeLabel"]</label>
        </div>

        <hr />

        <div class="radioContainer">
            <input type="radio" name="theme-radio" id="highcontrast-dark-radio" class="form-check-input" @onclick="@(e => SetAppTheme(AppTheme.HighContrastDark))" checked="@isHighContrastDarkRadioChecked" />
            <label for="highcontrast-dark-radio" class="form-check-label">@Localizer["SettingsPageAppThemeSettingHighContrastDarkThemeLabel"]</label>
        </div>
    </div>
</div>

<p id="selectedTheme" class="d-none">@appTheme</p>

@code
{
    private string defaultLocale;

    private string appTheme;

    private bool isLightThemeRadioChecked = false;

    private bool isDarkThemeRadioChecked = false;

    private bool isHighContrastDarkRadioChecked = false;

    private bool isHighContrastLightRadioChecked = false;

    private async Task SaveLocale()
    {
        await localStorage.SetItemAsync(Setting.DefaultLocale.ToString(), defaultLocale);
    }

    private async Task SetAppTheme(AppTheme theme)
    {
        await localStorage.SetItemAsync(Setting.ApplicationTheme.ToString(), theme.ToString());
    }

    protected override async Task OnInitializedAsync()
    {
        defaultLocale = await localStorage.GetItemAsStringAsync(Setting.DefaultLocale.ToString());
        defaultLocale = defaultLocale.Replace("\"", "");
        appTheme = await localStorage.GetItemAsStringAsync(Setting.ApplicationTheme.ToString());
        appTheme = appTheme.Replace("\"", "");
        if (appTheme.Equals(AppTheme.Light.ToString()))
        {
            isLightThemeRadioChecked = true;
        }
        else if (appTheme.Equals(AppTheme.Dark.ToString()))
        {
            isDarkThemeRadioChecked = true;
        }
        else if (appTheme.Equals(AppTheme.HighContrastDark.ToString()))
        {
            isHighContrastDarkRadioChecked = true;
        }
        else if (appTheme.Equals(AppTheme.HighContrastLight.ToString()))
        {
            isHighContrastLightRadioChecked = true;
        }
    }
}