@layout IndexLayout
@inject IJSRuntime IJSRuntime
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IStringLocalizer<App> Localizer
@page "/login"

<h3><span class="oi oi-account-login"></span> Login</h3>

<div class="form-card">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" @bind-value="loginModel.Email" placeholder="@Localizer["EmailInputPlaceholder"]" class="form-control" id="email" name="email" />
    </div>

    <div class="form-group">
        <label for="password">@Localizer["Password"]:</label>
        <input type="password" @bind-value="loginModel.Password" placeholder="@Localizer["PasswordInputPlaceholder"]" class="form-control" id="password" name="password" />
    </div>

    <button @onclick="Submit" class="btn btn-outline-primary" disabled="@isSubmitButtonDisabled" title="@Localizer["LoginFormSubmitButtonTitle"]">
        <span class="oi oi-account-login mr-2"></span>@Localizer["Submit"]
    </button>

    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary @LoadingIndicatorCssClass" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="alert alert-danger form-alert d-none mt-4 @FormAlertCssClass" role="alert">
    @errorMessage
</div>

@code
{
    private LoginModel loginModel = new LoginModel();

    private bool isLoadingIndicatorHidden = true;

    private string LoadingIndicatorCssClass => isLoadingIndicatorHidden ? "d-none" : null;

    private string FormAlertCssClass => isFormAlertDisplayed ? "d-block" : "d-none";

    private bool isSubmitButtonDisabled = false;

    private bool isFormAlertDisplayed = false;

    private string errorMessage;

    private async Task Submit()
    {
        isSubmitButtonDisabled = true;
        if (!string.IsNullOrEmpty(loginModel.Email) && !string.IsNullOrEmpty(loginModel.Password))
        {
            var user = await IJSRuntime.InvokeAsync<User>("getItem", loginModel.Email, "Users");
            if (user != null)
            {
                isFormAlertDisplayed = false;
                string userHash = await IJSRuntime.InvokeAsync<string>("hashString", loginModel.Password, user.PasswordSalt);
                if (userHash.Equals(user.PasswordHash))
                {
                    user.LastLogin = DateTime.Now;
                    var updateRes = await IJSRuntime.InvokeAsync<bool>("putItem", user, "Users");
                    if (updateRes)
                    {
                        UserHelper.UserID = user.Email;
                        await localStorage.SetItemAsStringAsync("LastLoginID", user.Email);
                        await localStorage.SetItemAsStringAsync("LastLoginDate", user.LastLogin.ToString());
                        NavigationManager.NavigateTo("/formcapture/home");
                    }
                    else
                    {
                        errorMessage = Localizer["DbError"];
                        isFormAlertDisplayed = true;
                    }
                }
                else
                {
                    errorMessage = Localizer["WrongPassword"];
                    isFormAlertDisplayed = true;
                }
            }
            else
            {
                errorMessage = Localizer["LoginNoUserError"];
                isFormAlertDisplayed = true;
            }
        }
        else
        {
            errorMessage = Localizer["LoginEmptyFormError"];
            isFormAlertDisplayed = true;
        }
        isSubmitButtonDisabled = false;
    }
}