<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="mt-4 text-center">
                <h1 role="alert">Sorry, there's nothing at this address.</h1>
                <h2><span class="oi oi-circle-x text-primary-color"></span></h2>
            </div>
        </LayoutView>
    </NotFound>
</Router>

<AntContainer />