@layout AppLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime
@inject IStringLocalizer<App> Localizer
@page "/formcapture/queues"

<h3><span class="oi oi-list-rich mr-1"></span> @Localizer["Queues"]</h3>

<hr />

<div class="d-flex">
    <button type="button" class="btn btn-outline-success" @onclick="@(e => Navigate("/formcapture/queues/start"))" title="@Localizer["QueuesListStartQueueButtonText"]">
        <span class="oi oi-play-circle mr-2"></span> @Localizer["QueuesListStartQueueButtonText"]
    </button>
    <div class="dropdown">
        <button type="button" class="btn btn-outline-primary ml-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sortButton" title="@Localizer["SortButtonTitle"]">
            <span class="oi oi-sort-ascending mr-1"></span> @Localizer["SortButtonText"]
        </button>
        <div class="dropdown-menu" aria-labelledby="sortButton">
            <a class="dropdown-item" href="/formcapture/tasks/#" title="@Localizer["SortButtonSortByNameText"]">
                @Localizer["SortButtonSortByNameText"]
            </a>
            <a class="dropdown-item" href="/formcapture/tasks/#" title="@Localizer["SortButtonSortByDateText"]">
                @Localizer["SortButtonSortByDateText"]
            </a>
            <a class="dropdown-item" href="/formcapture/tasks/#" title="@Localizer["SortButtonSortByLastUpdatedText"]">
                @Localizer["SortButtonSortByLastUpdatedText"]
            </a>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <td><b>@Localizer["Name"]</b></td>
                <td><b>@Localizer["Added"]</b></td>
                <td><b>@Localizer["LastUpdated"]</b></td>
                <td><b>@Localizer["Edit"]</b></td>
                <td><b>@Localizer["Delete"]</b></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@code
{
    private void Navigate(string uri)
    {
        NavigationManager.NavigateTo(uri);
    }
}