@layout IndexLayout
@inject IStringLocalizer<App> Localizer
@inject IDataAccess DataAccess
@page "/register"

<PageTitle>@Localizer["RegisterPageTitle"]</PageTitle>

<!--
    <h3><span class="oi oi-person"></span> @Localizer["RegisterPageTitle"]</h3>

<div class="mt-2">
    <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" @bind-value="_email" placeholder="@Localizer["EmailInputPlaceholder"]" id="email" name="email" />
    </div>

    <div class="mb-3">
        <label for="password">@Localizer["Password"]:</label>
        <input type="password" @bind-value="_password" placeholder="@Localizer["PasswordInputPlaceholder"]" id="password" name="password" />
    </div>

    <div class="mb-3">
        <label for="confirm-password">@Localizer["ConfirmPasswordLabel"]:</label>
        <input type="password" @bind-value="_confirmationPassword" placeholder="@Localizer["ConfirmPasswordLabel"]..." id="confirm-password" name="confirm-password" />
    </div>

    <button id="submitButton" title="@Localizer["RegisterFormSubmitButtonTitle"]" @onclick="Submit">
        <span class="oi oi-check me-2"></span> @Localizer["Submit"]
    </button>
</div>
-->

<div class="card">
    <Form Model="@_user">
        <FormItem Label="Email">
            <Input @bind-Value="@_user.Email" />
        </FormItem>

        <FormItem Label="@Localizer["Password"]">
            <InputPassword @bind-Value="@_password" />
        </FormItem>

        <FormItem>
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                <span class="oi oi-check me-2"></span>@Localizer["Submit"]
            </Button>
        </FormItem>
    </Form>
</div>

@code
{
    private User _user = new User();

    [Required]
    private string? _password;
}