@layout AppLayout
@inject IStringLocalizer<App> Localizer
@inject IDataAccess DataAccess
@inject IJSRuntime JSRuntime
@inject IRecognitionService Recognition
@inject NavigationManager NavigationManager
@page "/formcapture/templates/add"

<h1>
    <span class="oi oi-document mt-1 me-2" aria-hidden="true"></span> Add a template
</h1>

<Divider />

<div class="mb-3">
    <label for="template-name"><b>Template name</b>:</label>
    <div class="mt-2">
        <Input Placeholder="Enter template name..." name="template-name" id="template-name" class="" @bind-Value="template.Name"  />
    </div>

    <Divider />

    <Row Gutter="(32,16)">
        <!--Image upload column-->
        <Col Xs="24" Sm="24" Lg="24" Xl="12">
            <h2><span class="oi oi-image me-2"></span>Image</h2>
            <div>
                @if (!string.IsNullOrEmpty(fileContent))
                {
                    <div id="template-canvas">
                        <img id="template-preview-image" draggable="false" src="@fileContent" alt="Template" />
                    </div>
                }
                else
                {
                    <Empty />
                }
            </div>
            <Divider class="mb-0"><span class="oi oi-data-transfer-upload me-2"></span> File upload</Divider>
            <InputFile OnChange="@FileSelected" class="mt-3 pointer" />
        </Col>

        <!--Fields column-->
        <Col Xs="24" Sm="24" Lg="24" Xl="12">
            <div>
                <Card Title="Fields">
                    <Body>
                        @if (fields.Count == 0)
                        {
                            <Empty>
                                <DescriptionTemplate>
                                    <span>No fields added</span>
                                </DescriptionTemplate>
                            </Empty>
                        }
                        else
                        {
                            <AntList Bordered DataSource="@fields">
                                <ChildContent Context="field">
                                    <ListItem>
                                        <Input Placeholder="Enter field name..." @bind-Value="@field.Name" />
                                        <Button @onclick="@(e => DrawField(field.ID))">
                                            <span class="oi oi-pencil me-2"></span> <span class="field-list-button-text">Draw</span>
                                        </Button>
                                        <Button @onclick="@(e => RemoveField(field))">
                                            <span class="oi oi-trash me-2"></span> <span>Delete</span>
                                        </Button>
                                        <Button @onclick="@(e => SetFieldToIdentifying(field))">
                                            <span class="oi oi-star"></span>
                                        </Button>
                                    </ListItem>
                                </ChildContent>
                            </AntList>
                        }
                    </Body>
                    <ActionTemplate>
                        <CardAction>
                            <div @onclick="AddNewField">
                                <span class="oi oi-plus me-2"></span>Add a new field
                            </div>
                        </CardAction>
                    </ActionTemplate>
                </Card>

                <Card title="Identifying field" class="mt-3">
                    <Body>
                        @if (identifyingField == null)
                        {
                            <Empty>
                                <DescriptionTemplate>
                                    <span>No Identifying field selected</span>
                                </DescriptionTemplate>
                            </Empty>
                        }
                        else
                        {
                            <h2 class="mb-0">@identifyingField.Name</h2>
                            <Divider />
                        }
                        <label for="expected-value"><b>Expected value</b>:</label>
                        <div class="mt-2">
                            <Input Placeholder="Enter expected value of the field..." name="expected-value" id="expected-value" class="" @bind-Value="expectedValue"  />
                        </div>
                    </Body>
                    <ActionTemplate>
                        <CardAction>
                            <div class="px-3">
                                <Button @onclick="TestIdFieldRecognition" Block Loading="@isTestButtonLoading" class="disable-select">
                                    <span class="oi oi-beaker me-2"></span>Test identification
                                </Button>
                            </div>
                        </CardAction>
                    </ActionTemplate>
                </Card>
            </div>
        </Col>
    </Row>

    <Button Type="@ButtonType.Primary" Block class="mt-3" @onclick="Submit" Loading="@isSubmitButtonLoading" Size="@ButtonSize.Large">
        <span class="oi oi-check me-2"></span>Save template
    </Button>
</div>

@code
{
    /// <summary>
    /// Private field with a <see cref="Models.DbModels.Template"/> class instance.
    /// </summary>
    private FormCaptureLocalWasm.Models.DbModels.Template template = new FormCaptureLocalWasm.Models.DbModels.Template()
    {
        ID = Guid.NewGuid().ToString(),
        UserID = UserHelper.UserID
    };

    /// <summary>
    /// Private field with content (encoded as base64) of the template image.
    /// </summary>
    private string? fileContent;

    /// <summary>
    /// Private field with a list of fields connected to the template.
    /// </summary>
    private List<Field> fields = new List<Field>();

    /// <summary>
    /// Private field with instance of <see cref="Field"/> class.
    /// </summary>
    private Field? identifyingField;

    /// <summary>
    /// Private field wtih value representing if test button is visible or not.
    /// </summary>
    private bool isTestButtonLoading = false;

    private bool isSubmitButtonLoading = false;

    /// <summary>
    /// Private field that is bound to expected value input.
    /// </summary>
    private string? expectedValue;

    private async Task FileSelected(InputFileChangeEventArgs e)
    {
        if (e.FileCount > 1)
        {
            return;
        }
        fileContent = $"data:{e.File.ContentType};base64,";
        var buffer = new byte[e.File.Size];
        await e.File.OpenReadStream().ReadAsync(buffer);
        template.Image = buffer;
        template.ContentType = e.File.ContentType;
        fileContent += Convert.ToBase64String(buffer);
    }

    /// <summary>
    /// Method for starting the process of drawing a field on the image.
    /// </summary>
    /// <param name="fieldID">ID of a specific field.</param>
    private async Task DrawField(string? fieldID)
    {
        if (!string.IsNullOrEmpty(fieldID))
        {
            await JSRuntime.InvokeVoidAsync("drawField", fieldID);
        }
    }

    /// <summary>
    /// Method for adding a new item to fields list.
    /// </summary>
    private void AddNewField()
    {
        fields.Add(new Field()
        {
            ID = Guid.NewGuid().ToString(),
            Name = "New field",
            Added = DateTime.Now,
            Updated = DateTime.Now,
            IsIdentifying = false,
            TemplateID = template.ID,
            UserID = UserHelper.UserID
        });
    }

    /// <summary>
    /// Method for removing a specific field from fields list and from local db.
    /// </summary>
    /// <param name="field">Instance of a <see cref="Field"/> class.</param>
    private async Task RemoveField(Field field)
    {
        await JSRuntime.InvokeVoidAsync("removeField", field.ID);
        fields.Remove(field);
    }

    /// <summary>
    /// Method for setting a new identifying field or toggling an existing one.
    /// </summary>
    /// <param name="field">Instance of a <see cref="Field"/> class.</param>
    private void SetFieldToIdentifying(Field field)
    {
        if (identifyingField != null)
        {
            identifyingField.IsIdentifying = false;
        }
        else
        {
            field.IsIdentifying = true;
        }
        identifyingField = field;
    }

    /// <summary>
    /// Method for launching a test if document will be recognized.
    /// </summary>
    private async Task TestIdFieldRecognition()
    {
        //SetFieldToIdentifying(fields.Single(i => i.ID.Equals(identifyingFieldId)));
        if (identifyingField != null && !string.IsNullOrEmpty(expectedValue) && template.Image != null && !string.IsNullOrEmpty(template.ContentType))
        {
            isTestButtonLoading = true;
            var fieldProperties = await JSRuntime.InvokeAsync<string>("getFieldProperties", identifyingField.ID);
            if (!string.IsNullOrEmpty(fieldProperties))
            {
                var fieldPropertiesSplit = fieldProperties.Split(",");
                identifyingField.Width = Convert.ToInt32(fieldPropertiesSplit[0]);
                identifyingField.Height = Convert.ToInt32(fieldPropertiesSplit[1]);
                identifyingField.Xposition = Convert.ToInt32(fieldPropertiesSplit[2]);
                identifyingField.Yposition = Convert.ToInt32(fieldPropertiesSplit[3]);
                identifyingField.ExpectedValue = expectedValue;
                var response = await Recognition.SinglefieldRecognition(identifyingField, template.Image, "eng", template.ContentType);
            }
            isTestButtonLoading = false;
        }
    }

    /// <summary>
    /// Click event handler for submit button on this page.
    /// </summary>
    private async Task Submit()
    {
        template.UserID = UserHelper.UserID;
        if (identifyingField != null && !string.IsNullOrEmpty(expectedValue) && template.Image != null && !string.IsNullOrEmpty(template.Name) && fields.Count > 0)
        {
            isSubmitButtonLoading = true;
            template.Added = DateTime.Now;
            template.Updated = template.Added;
            fields.Single(i => i.IsIdentifying).ExpectedValue = expectedValue;
            var imageDimensions = await JSRuntime.InvokeAsync<string>("getImageProperties", "template-preview-image");
            var imageDimensionsSplit = imageDimensions.Split("|");
            template.Xdimension = Convert.ToInt32(imageDimensionsSplit[0]);
            template.Ydimension = Convert.ToInt32(imageDimensionsSplit[1]);
            string fieldProperties;
            string[] fieldPropertiesSplit;
            foreach (var field in fields)
            {
                if (string.IsNullOrEmpty(field.Name))
                {
                    return;
                }
                fieldProperties = await JSRuntime.InvokeAsync<string>("getFieldProperties", field.ID);
                if (!string.IsNullOrEmpty(fieldProperties))
                {
                    fieldPropertiesSplit = fieldProperties.Split(",");
                    field.Width = Convert.ToInt32(fieldPropertiesSplit[0]);
                    field.Height = Convert.ToInt32(fieldPropertiesSplit[1]);
                    field.Xposition = Convert.ToInt32(fieldPropertiesSplit[2]);
                    field.Yposition = Convert.ToInt32(fieldPropertiesSplit[3]);
                }
                _ = await DataAccess.AddItemAsync(field, ObjectStores.Fields.ToString());
            }
            _ = await DataAccess.AddItemAsync(template, ObjectStores.Templates.ToString());
            NavigationManager.NavigateTo("/formcapture/templates");
        }
    }
}