@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="formcapture/home" title="@Localizer["NavMenuHomeLinkTitle"]">Form Capture</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" title="@Localizer["NavMenuToggleButtonTitle"]">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/home" Match="NavLinkMatch.All" title="@Localizer["NavMenuHomeLinkTitle"]">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["NavMenuHomeLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/queues" title="@Localizer["NavMenuQueuesLinkTitle"]">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Queues"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/templates" title="@Localizer["NavMenuTemplatesLinkTitle"]">
                <span class="oi oi-image" aria-hidden="true"></span> @Localizer["NavMenuTemplatesLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/workflows" title="@Localizer["NavMenuWorkflowLinkTitle"]">
                <span class="oi oi-project"></span> @Localizer["WorkflowsListPageTitle"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/formcapture/tasks" title="@Localizer["NavMenuTasksLinkTitle"]">
                <span class="oi oi-code"></span> @Localizer["TasksListPageTitle"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/profile" title="@Localizer["NavMenuAccountLinkTitle"]">
                <span class="oi oi-person"></span> @Localizer["NavMenuAccountLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/settings" title="@Localizer["NavMenuSettingsLinkTitle"]">
                <span class="oi oi-cog"></span> @Localizer["NavMenuSettingsLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/guide" title="@Localizer["NavMenuUserGuideLinkTitle"]">
                <span class="oi oi-book"></span> @Localizer["NavMenuUserGuideLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about" title="@Localizer["NavMenuAboutLinkTitle"]">
                <span class="oi oi-info"></span> @Localizer["NavMenuAboutLinkText"]
            </NavLink>
        </li>
    </ul>
</div>

@code
{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}