@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime
@using FormCaptureLocalWasm.Shared.Components.FieldsViewerComponents

<div class="fields-viewer" id="fields-viewer">
    <button type="button" title="Display fields" id="fields-viewer-display-button" @onclick="ToggleFieldsList">
        <span class="oi oi-list me-2"></span> @Localizer["Fields"]
    </button>

    <div class="fields-list card py-1 px-3 mt-2 @ListCssClass">
        <div class="display-flex">
            <IconSubheader Icon="list" Title="@Localizer["Fields"]" Class="me-5" />
            <IconButton Icon="plus" Text="@Localizer["AddNewFieldButtonText"]" OnClick="AddField" />
        </div>
        <Divider />
        @if (Fields != null)
        {
            @if (Fields.Count > 0)
            {
                @foreach (var field in Fields)
                {
                    <FieldListItem Field="field" OnDeleteItem="DeleteField" OnSetFieldAsId="SetFieldAsId" OnFieldDraw="DrawField" />
                    <Divider />
                }
            }
            else
            {
                <p>@Localizer["NoFieldsAddedMessage"]</p>
            }
        }
    </div>
</div>

@code
{
    private bool collapseList = false;

    private string? ListCssClass => collapseList ? null : "display-none";

    /// <summary>
    /// List of fields.
    /// </summary>
    [Parameter, EditorRequired]
    public List<Field>? Fields { get; set; }

    /// <summary>
    /// ID field.
    /// </summary>
    [Parameter, EditorRequired]
    public Field? IdField { get; set; }

    /// <summary>
    /// Method for displaying or closing navigation menu.
    /// </summary>
    private void ToggleFieldsList()
    {
        collapseList = !collapseList;
    }

    /// <summary>
    /// Method for adding a new template field.
    /// </summary>
    private void AddField()
    {
        Fields?.Add(new Field() {
            Name = "New field",
            IsIdentifying = false,
            UserID = UserHelper.UserID,
            Added = DateTime.Now
        });
    }

    /// <summary>
    /// Method for deleting existing template field.
    /// </summary>
    /// <param name="field">Field that will be deleted.</param>
    private void DeleteField(Field field)
    {
        Fields?.Remove(field);
    }

    /// <summary>
    /// Event handler for handling id field set.
    /// </summary>
    /// <param name="field">New id field.</param>
    private void SetFieldAsId(Field field)
    {
        if (IdField != null && Fields != null)
        {
            var idField = Fields.SingleOrDefault(i => i.IsIdentifying);
            if (idField != null)
            {
                idField.IsIdentifying = false;
            }
        }
        field.IsIdentifying = true;
        IdField = field;
    }

    /// <summary>
    /// Event handler for handling template field drawing.
    /// </summary>
    /// <param name="field">Field that will be drawn on the template.</param>
    private async Task DrawField(Field field)
    {
        await JSRuntime.InvokeVoidAsync("drawField", $"{field.Name} - {field.Added}", true);
    }
}