@inject IStringLocalizer<App> Localizer

<div class="top-row pl-4 navbar navbar-dark px-4">
    <a class="navbar-brand py-3" href="/formcapture/home" title="Home">
        <span class="oi oi-aperture mt-1"></span>Form Capture
    </a>
    <button class="navbar-toggler pointer py-2" @onclick="ToggleNavMenu" type="button">
        <span class="oi oi-menu navbar-toggler-icon"></span>
    </button>
</div>

<div id="navList" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/home" Match="NavLinkMatch.All" title="@Localizer["NavMenuHomeLinkText"]">
                <span class="oi oi-home mt-1" aria-hidden="true"></span> @Localizer["NavMenuHomeLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/queues" title="@Localizer["Queues"]">
                <span class="oi oi-list-rich mt-1" aria-hidden="true"></span> @Localizer["Queues"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/templates" title="@Localizer["NavMenuTemplatesLinkText"]">
                <span class="oi oi-document mt-1" aria-hidden="true"></span> @Localizer["NavMenuTemplatesLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/profile" title="@Localizer["NavMenuAccountLinkText"]">
                <span class="oi oi-person mt-1" aria-hidden="true"></span> @Localizer["NavMenuAccountLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/settings" title="@Localizer["NavMenuSettingsLinkText"]">
                <span class="oi oi-cog mt-1" aria-hidden="true"></span> @Localizer["NavMenuSettingsLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/guide" title="@Localizer["NavMenuUserGuideLinkText"]">
                <span class="oi oi-book mt-1" aria-hidden="true"></span> @Localizer["NavMenuUserGuideLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/about" title="@Localizer["NavMenuAboutLinkText"]">
                <span class="oi oi-question-mark mt-1" aria-hidden="true"></span> @Localizer["NavMenuAboutLinkText"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formcapture/logout">
                <span class="oi oi-account-logout mt-1" aria-hidden="true"></span> @Localizer["NavMenuLogoutLinkText"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? null : "collapse";

    /// <summary>
    /// Method for displaying or closing navigation menu.
    /// </summary>
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
