@layout AppLayout
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer
@inject DataAccess DataAccess
@inject IJSRuntime IJSRuntime
@inject TesseractService TesseractService
@inject AlertService AlertService
@page "/formcapture/queues/{queueID}/identification"

<div class="jumbotron">
    <h4 class="display-4"><span class="fluentUiGlyph">&#xEA1E;</span>  @Localizer["IdentificationNoun"]</h4>
    <p class="lead">@Localizer["IdentificationPageLead1Text"]:</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">1. @Localizer["IdentificationPageFirstOperationDescription"]</li>
        @if (queue != null)
        {
            @if (customTasks != null && !queue.IsAutomatic)
            {
                @if (customTasks.Count > 0)
                {
                    @foreach (var task in customTasks)
                    {
                        <li class="list-group-item list-group-item-primary">@(customTasks.IndexOf(task) + 2). @task.Name - @task.Description</li>
                    }
                }
            }
        }
    </ul>
    <p class="lead mt-3">@Localizer["IdentificationPageLead2Text"].</p>
    @if (queue != null)
    {
        @if (!queue.IsAutomatic)
        {
            <hr class="my-4">
            <p><b>@Localizer["ProcessedFiles"]</b>:</p>
            <ul class="list-group">
                @if (processedFiles != null)
                {
                    @foreach (var file in processedFiles)
                    {
                        <li class="list-group-item list-group-item-info">
                            <span>@file.Name</span>
                        </li>
                    }
                }
            </ul>
            <hr class="my-4" />
            <button class="btn btn-outline-primary btn-lg btn-block" role="button" title="@Localizer["IdentificationPageLaunchTaskButtonText"]" @onclick="Submit">
                <span class="oi oi-play-circle mr-2"></span> @Localizer["IdentificationPageLaunchTaskButtonText"]
            </button>
        }
    }
    else
    {
        <h4 class="mt-2">@Localizer["Loading"]...</h4>
    }
</div>

<!--Full page loading screen-->
<FullpageLoadingScreen IsDisplayed="isFullPageLoadingScreenDisplayed" />

@code {
    /// <summary>
    /// ID of a queue that is going to be processed.
    /// </summary>
    [Parameter]
    public string QueueID { get; set; }

    /// <summary>
    /// Queue that is being processed.
    /// </summary>
    private Queue queue;

    /// <summary>
    /// List of processed files (see: <see cref="ProcessedFile"/> class).
    /// </summary>
    private List<ProcessedFile> processedFiles;

    /// <summary>
    /// List of workflow tasks made by the user for scan portion of document processing.
    /// </summary>
    private List<WorkflowTask> customTasks = new List<WorkflowTask>();

    /// <summary>
    /// List of fields designated for document identification.
    /// </summary>
    private List<Field> idFields;

    /// <summary>
    /// Private field indicating if full page loading screen is displayed.
    /// </summary>
    private bool isFullPageLoadingScreenDisplayed;

    /// <summary>
    /// Method for updating required entities in a database.
    /// </summary>
    private async Task UpdateEntities()
    {
        foreach (var file in processedFiles)
        {
            _ = await DataAccess.UpdateItem(file, ObjectStores.ProcessedFiles.ToString());
        }
        queue.QueueTask = QueueTask.Identification;
        _ = await DataAccess.UpdateItem(queue, ObjectStores.Queues.ToString());
    }

    /// <summary>
    /// Event handler for submit button on this page.
    /// </summary>
    private async Task Submit()
    {
        isFullPageLoadingScreenDisplayed = true;
        await Task.Delay(10);

        //Process files
        await IdentifyDocuments();

        //Execute tasks
        await ExecuteCustomTasks();

        //Update files
        await UpdateEntities();

        isFullPageLoadingScreenDisplayed = false;
        NavigationManager.NavigateTo($"/formcapture/queues/{QueueID}/recognition");
    }

    /// <summary>
    /// Method for executing custom tasks written in JS.
    /// </summary>
    private async Task ExecuteCustomTasks()
    {
        //If there are custom tasks => execute them
        if (customTasks.Count > 0)
        {
            //Execute each custom task
            foreach (var task in customTasks)
            {
                _ = await IJSRuntime.InvokeAsync<bool>("executeJS", task.Content);
            }
        }
    }

    /// <summary>
    /// Method for identifying processed documents
    /// </summary>
    private async Task IdentifyDocuments()
    {
        var idResults = await TesseractService.MultifieldRecognition(idFields, processedFiles, queue.Locale, processedFiles.Select(i => i.Type).ToList());
        Field idField;
        foreach (var result in idResults)
        {
            idField = idFields.Single(i => i.ID.Equals(result[1]));
            if (idField.ExpectedValue.Equals(result[0]))
            {
                processedFiles[Convert.ToInt32(result[2])].TemplateID = idField.TemplateID;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        isFullPageLoadingScreenDisplayed = true;
        queue = await DataAccess.GetItem<Queue>(QueueID, ObjectStores.Queues.ToString());
        if (queue != null)
        {
            //Get processed files
            processedFiles = await DataAccess.GetItemsAsList<ProcessedFile>(ObjectStores.ProcessedFiles.ToString());
            if (processedFiles != null)
            {
                processedFiles = processedFiles.Where(i => i.QueueID.Equals(QueueID)).ToList();
                //If workflow id is set retrieve groupings and potential tasks
                if (!string.IsNullOrEmpty(queue.WorkflowID))
                {
                    //Get workflow-task groupings
                    var workflowTaskGroupings = await DataAccess.GetItemsAsList<WorkflowTaskGrouping>(ObjectStores.WorkflowTaskGroupings.ToString());
                    //Filter workflow-task groupings that are not part of selected workflow and are not for scan
                    workflowTaskGroupings = workflowTaskGroupings
                        .Where(i => i.WorkflowID.Equals(queue.WorkflowID) && i.TaskGroupName.Equals($"{QueueTask.Identification}"))
                        .OrderBy(i => i.ExecutionOrderNumber)
                        .ToList();
                    //Workflow does not need to have any tasks => check needed
                    if (workflowTaskGroupings.Count > 0)
                    {
                        //Get all tasks
                        var allTasks = await DataAccess.GetItemsAsList<WorkflowTask>(ObjectStores.WorkflowTasks.ToString());
                        foreach (var grouping in workflowTaskGroupings)
                        {
                            //Add task that corresponds with TaskID in the grouping
                            customTasks.Add(allTasks.Single(i => i.ID.Equals(grouping.TaskID)));
                        }
                    }
                }
                //Get ID fields
                idFields = await DataAccess.GetItemsAsList<Field>(ObjectStores.Fields.ToString());
                if (idFields != null)
                {
                    idFields = idFields.Where(i => i.IsIdentifying.Equals(true) && i.UserID.Equals(UserHelper.UserID)).ToList();
                    if (queue.IsAutomatic)
                    {
                        //Execute identification of documents
                        await IdentifyDocuments();
                        //Execute tasks
                        await ExecuteCustomTasks();
                        //Update files
                        await UpdateEntities();
                        NavigationManager.NavigateTo($"/formcapture/queues/{QueueID}/recognition");
                    }
                }
            }
        }
        else
        {
            NavigationManager.NavigateTo("/NotFound");
        }
        isFullPageLoadingScreenDisplayed = false;
    }
}