@layout AppLayout
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer
@inject DataAccess DataAccess
@inject AlertService AlertService
@page "/formcapture/templates"

<h3><span class="fluentUiGlyph tableFluentGlyph h3FluentGlyph mr-2">&#xEA83;</span> @Localizer["TemplatesListPageTitle"]</h3>

<hr />

<div class="d-flex">
    <button type="button" class="btn btn-outline-success" @onclick="@(e => Navigate("/formcapture/templates/add"))" title="@Localizer["TemplatesListPageAddButtonTitle"]">
        <span class="oi oi-plus mr-2"></span> @Localizer["TemplatesListPageAddButtonText"]
    </button>
    <div class="dropdown">
        <button type="button" class="btn btn-outline-primary ml-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sortButton" title="@Localizer["SortButtonTitle"]">
            <span class="oi oi-sort-ascending mr-1"></span> @Localizer["SortButtonText"]
        </button>
        <div class="dropdown-menu" aria-labelledby="sortButton">
            <a class="dropdown-item" href="/formcapture/templates/#" title="@Localizer["SortButtonSortByNameText"]" @onclick="@(e => SortList("name"))">
                @Localizer["SortButtonSortByNameText"]
            </a>
            <a class="dropdown-item" href="/formcapture/templates/#" title="@Localizer["SortButtonSortByDateText"]" @onclick="@(e => SortList("added"))">
                @Localizer["SortButtonSortByDateText"]
            </a>
            <a class="dropdown-item" href="/formcapture/templates/#" title="@Localizer["SortButtonSortByLastUpdatedText"]" @onclick="@(e => SortList("updated"))">
                @Localizer["SortButtonSortByLastUpdatedText"]
            </a>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <td><b>@Localizer["Name"]</b></td>
                <td><b>@Localizer["Added"]</b></td>
                <td><b>@Localizer["LastUpdated"]</b></td>
                <td><b>@Localizer["Edit"]</b></td>
                <td><b>@Localizer["Delete"]</b></td>
            </tr>
        </thead>

        <tbody>
            @if (templates != null)
            {
                @foreach (var template in templates)
                {
                    <tr class="pointer">
                        <td @onclick="@(e => Navigate($"/formcapture/templates/edit/{template.ID}"))">@template.Name</td>
                        <td @onclick="@(e => Navigate($"/formcapture/templates/edit/{template.ID}"))">@template.Added.ToShortDateString()</td>
                        <td @onclick="@(e => Navigate($"/formcapture/templates/edit/{template.ID}"))">@template.Updated.ToShortDateString()</td>
                        <td @onclick="@(e => Navigate($"/formcapture/templates/edit/{template.ID}"))" class="hoverElement"><span class="fluentUiGlyph tableFluentGlyph">&#xE9C3;</span></td>
                        <td @onclick="@(e => DeleteTemplate(template))" class="hoverElement"><span class="fluentUiGlyph tableFluentGlyph">&#xE9ED;</span></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (templates == null)
    {
        <p class="tableText">@Localizer["Loading"]...</p>
    }
    else
    {
        @if (templates.Count <= 0)
        {
            <p class="tableText">@Localizer["TemplatesListPageNoTemplatesText"]</p>
        }
    }
</div>

<div class="toast-area">
    <div class="alert alert-danger alert-dismissible fade show d-none" id="error-toast" role="alert">
        <strong class="mr-auto">@Localizer["Error"]</strong>
        <hr />
        <p class="errorMessage">@errorMessage</p>
        <button type="button" class="close" onclick="hideToast('error-toast');" aria-label="Close" title="@Localizer["Close"]">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

@code
{
    private List<Template> templates;

    /// <summary>
    /// Field for setting or getting values of error messages.
    /// </summary>
    private string errorMessage;

    /// <summary>
    /// Method for navigating to a specified URI.
    /// </summary>
    /// <param name="page">Page URI.</param>
    private void Navigate(string page)
    {
        NavigationManager.NavigateTo(page);
    }

    protected override async Task OnInitializedAsync()
    {
        templates = await DataAccess.GetItemsAsList<Template>(ObjectStores.Templates.ToString());
        if (templates != null)
        {
            templates = templates.Where(i => i.UserID.Equals(UserHelper.UserID)).OrderBy(i => i.Added).ToList();
        }
    }

    private async Task SortList(string attribute)
    {
        if (templates != null)
        {
            if (templates.Count > 0)
            {
                if (attribute.Equals("name"))
                {
                    templates = templates.OrderBy(i => i.Name).ToList();
                }
                else if (attribute.Equals("added"))
                {
                    templates = templates.OrderBy(i => i.Added).ToList();
                }
                else if (attribute.Equals("updated"))
                {
                    templates = templates.OrderBy(i => i.Updated).ToList();
                }
            }
            else
            {
                errorMessage = $"{Localizer["TemplatesListPageSortEmptyTemplatesError"]}.";
                await AlertService.DisplayToast("error-toast");
            }
        }
        else
        {
            errorMessage = $"{Localizer["TemplatesListPageSortNullTemplatesError"]}.";
            await AlertService.DisplayToast("error-toast");
        }
    }

    private async Task DeleteTemplate(Template template)
    {
        var res = await AlertService.DisplayConfirmDialog($"{Localizer["ConfirmationDialogDeleteTemplateFirstPart"]} '{template.Name}' {Localizer["ConfirmationDialogDeleteTemplateSecondPart"]}?");
        if (res && template != null)
        {
            var fields = await DataAccess.GetItemsAsList<Field>(ObjectStores.Fields.ToString());
            foreach (var field in fields.Where(i => i.TemplateID.Equals(template.ID)))
            {
                res = await DataAccess.DeleteItem(field.ID, ObjectStores.Fields.ToString());
                if (!res)
                {
                    throw new Exception($"Error occured during field deletion. Field ID: {field.ID}.");
                }
            }
            res = await DataAccess.DeleteItem(template.ID, ObjectStores.Templates.ToString());
            if (res)
            {
                templates.Remove(template);
            }
        }
    }
}