@layout AppLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime
@inject IStringLocalizer<App> Localizer
@page "/formcapture/tasks/edit/{taskID}"


@if (workflowTask != null)
{
    <h3><span class="oi oi-pencil mr-2"></span> @Localizer["Edit"] '@taskName'</h3>
}
else
{
    <h3>@Localizer["Loading"]...</h3>
}

<hr />

<div class="form-group settingPanel">
    <label for="task-name"><b>@Localizer["TaskNameInputLabel"]</b>:</label>
    @if (workflowTask != null)
    {
        <input type="text" name="task-name" id="task-name" placeholder="@Localizer["TaskNameInputPlaceholder"]..." @bind-value="workflowTask.Name" class="form-control" />
    }
</div>

<div class="form-group settingPanel mt-4">
    <label for="task-description"><b>@Localizer["TaskDescriptionInputLabel"]</b>:</label>
    @if (workflowTask != null)
    {
        <input type="text" name="task-description" id="task-description" placeholder="@Localizer["TaskDescriptionInputPlaceholder"]..." @bind-value="workflowTask.Description" class="form-control" />
    }
</div>

<div class="form-group settingPanel mt-4">
    <label for="task-content"><b>@Localizer["TaskContentInputLabel"]</b>: <a title="Information"><span class="oi oi-question-mark"></span></a></label>
    <textarea @bind="taskContent" placeholder="@Localizer["TaskContentInputPlaceholder"]..." name="task-content" id="task-content" class="form-control mb-2">
    </textarea>
    <a href="#" title="@Localizer["TasksAddPageWhatIsContentLinkText"]?" target="_blank">@Localizer["TasksAddPageWhatIsContentLinkText"]?</a>
</div>

<div class="form-group d-flex">
    <button @onclick="ConfirmForm" class="btn btn-success mr-3 mt-2" title="@Localizer["TasksAddPageSubmitButtonTitle"]" id="submitButton">
        <span class="oi oi-check"></span> @Localizer["Submit"]
    </button>
    <button @onclick="TestTaskContent" class="btn btn-warning mt-2" title="@Localizer["TasksAddPageTestTaskButtonTitle"]" id="testButton">
        <span class="oi oi-beaker"></span> @Localizer["TasksAddPageTestTaskButtonText"]
    </button>
</div>

<div class="toast-area">
    <div class="alert alert-danger alert-dismissible fade show d-none" id="error-toast" role="alert">
        <strong class="mr-auto">@Localizer["Error"]</strong>
        <hr />
        <p class="errorMessage">@errorMessage</p>
        <button type="button" class="close" onclick="closeAlert('error-toast');" aria-label="Close" title="@Localizer["Close"]">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

@code
{
    [Parameter]
    public string TaskID { get; set; }

    private WorkflowTask workflowTask;

    private string errorMessage;

    private string taskName;

    /// <summary>
    /// Page field that contains content of the task.
    /// </summary>
    private string taskContent;

    private async void TestTaskContent()
    {
        if (!string.IsNullOrEmpty(taskContent))
        {
            var res = await IJSRuntime.InvokeAsync<bool>("executeJS", taskContent);
        }
        else
        {
            errorMessage = $"{Localizer["TasksAddPageEmptyTaskContentErrorMessage"]}.";
            await IJSRuntime.InvokeVoidAsync("displayToast", "error-toast");
        }
    }

    private async Task ConfirmForm()
    {
        if (!string.IsNullOrEmpty(taskContent) && !string.IsNullOrEmpty(workflowTask.Name))
        {
            workflowTask.Content = taskContent;
            workflowTask.Updated = DateTime.Now;
            var res = await IJSRuntime.InvokeAsync<bool>("putItem", workflowTask, "WorkflowTasks");
            if (res)
            {
                NavigationManager.NavigateTo("/formcapture/tasks");
            }
        }
        else if (string.IsNullOrEmpty(workflowTask.Name))
        {
            errorMessage = $"{Localizer["TasksAddPageEmptyTaskNameErrorMessage"]}.";
            await IJSRuntime.InvokeVoidAsync("displayToast", "error-toast");
        }
        else if (string.IsNullOrEmpty(taskContent))
        {
            errorMessage = $"{Localizer["TasksAddPageEmptyTaskContentErrorMessage"]}.";
            await IJSRuntime.InvokeVoidAsync("displayToast", "error-toast");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            workflowTask = await IJSRuntime.InvokeAsync<WorkflowTask>("getItem", TaskID, "WorkflowTasks");
        }
        catch (Exception)
        {
            NavigationManager.NavigateTo("/NotFound");
            return;
        }
        if (workflowTask != null)
        {
            taskName = workflowTask.Name;
            taskContent = workflowTask.Content;
        }
    }
}