@layout IndexLayout
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer
@page "/"

<h1 class="mb-2">
    <img src="/formcapture-icon.svg" alt="Form Capture logo" draggable="false" class="mb-3 mr-1" id="index-page-app-logo" />
    <span>Form Capture</span>
</h1>

<p id="app-description">
    <!--@Localizer["AppDescription"]-->
</p>

<div class="container mt-3">
    <!--Login button-->
    <div>
        <!--
            <button type="button" @onclick="@(e => Navigate("/login"))" class="btn btn-light w-25" title="@Localizer["LogIn"]">
            <span class="oi oi-account-login mr-1"></span> @Localizer["LogIn"]
        </button>
        -->
        <NavigateButton Icon='<span class="oi oi-account-login mr-1"></span>' Content=@Localizer["LogIn"] DestinationURI="/login" OnClick="Navigate" />
    </div>
    <!--Register button-->
    <div class="mt-3">
        <button type="button" @onclick="@(e => Navigate("/register"))" class="btn btn-light w-25" title="@Localizer["Register"]">
            <span class="oi oi-person mr-1"></span> @Localizer["Register"]
        </button>
    </div>
</div>

@code
{
    private void Navigate(string page)
    {
        NavigationManager.NavigateTo(page);
    }
}